:root {
    --color-fondo: #FF0000;
    --color-oscuro: #9A0019;
    --color-blanco: #ffffff;
    --color-cerca: #009A3D;
    --color-final: #FFF212;
    --color-lejos: #FF0000;

}

body {
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cotenedor{
    height:80rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-fondo);
    width: 30rem;
    height: 50rem;
    border-radius: 10px;
   
}


.palabra__adivina{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 0.4rem;
    width: 100%;
    height: 10rem;
    background-color: var(--color-oscuro);
    margin-bottom: 1rem;
    border-radius: 5px;
    
}

.opciones{
  width: 100%;

}


.respuesta__contenido{
    font-weight: bold;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blanco);
    width: 100%;
    height: 3.5rem;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.6rem;
    
}

.porcetaje__acierto{
    background-color: var(--color-cerca);
    width: 6rem;
    border-radius: 4px;
    color: var(--color-blanco);
    text-align: center;
   
}

.sec_enviar{
    margin-top: 3rem;
    width: 100%;
}

.formulario input{
    outline: none;
    margin-bottom: 4rem;
    border: none;
    border-radius: 5px;
    height: 3.5rem;
    width: 100%;
    margin-bottom: 0.6rem;
    font-weight: bold;
    color: var(--color-fondo);
    font-size: 2rem;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.formulario button{
   
    width: 100%;
    height: 3.5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color-cerca);
    color: var(--color-blanco);
    font-weight: bold;
    font-size: 2rem;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
   
}



.formulario button:hover{
 background-color: #005823;
}